@model atm.Models.UpdateRouteCommentModel
<div class="row" style="width:95%;">
    <div class="col-xs-11">
        COMMENT:<br />
        <textarea style="max-width:600px; width:500px; height:100px;" id="comment-box" data-comment-id="@Model.CommentId"
                  data-ship-to="@Model.ShipTo" data-bill-to="@Model.BillTo" data-stop-number="@Model.StopNumber" data-screen="@Model.Screen"
                  data-center-number="@Model.CenterNumber" data-route-plan-id="@Model.RoutePlanId">@Model.LongComment</textarea><br /><br />
    </div>
</div>
<div class="row" style="width:95%;">
    <div class="col-xs-7">
        CATEGORY:  &nbsp;
        <select id="comment-category">
            <option value="Customer Communication" @(Model.Category == "Customer Communication" ? "selected" : "")>Customer Communication</option>
            <option value="Driver Communication" @(Model.Category == "Driver Communication" ? "selected" : "")>Driver Communication</option>
            <option value="Stop Adjustment" @(Model.Category == "Stop Adjustment" ? "selected" : "")>Stop Adjustment</option>
            <option value="Time Adjustment" @(Model.Category == "Time Adjustment" ? "selected" : "")>Time Adjustment</option>
        </select><br /><br />
    </div>
    <div class="col-xs-offset-1 col-xs-3">
        IS INTERNAL: &nbsp;
        <input type="checkbox" @(Model.IsInternal ? "checked" : "") id="comment-is-internal" />
    </div>
</div>